<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ArmDentalEntities" connectionString="metadata=res://*/Modelka.ModelTest.csdl|res://*/Modelka.ModelTest.ssdl|res://*/Modelka.ModelTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-2EAU36M;initial catalog=ArmDental;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>