<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DentalClinic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ArmDentalEntities" connectionString="metadata=res://*/Model.Model.csdl|res://*/Model.Model.ssdl|res://*/Model.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-2EAU36M;initial catalog=ArmDental;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <DentalClinic.Properties.Settings>
      <setting name="loginClient" serializeAs="String">
        <value />
      </setting>
      <setting name="patientSave" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MKBCode" serializeAs="String">
        <value />
      </setting>
      <setting name="patientFirst" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="patientLast" serializeAs="String">
        <value />
      </setting>
      <setting name="teethMapArray" serializeAs="String">
        <value />
      </setting>
    </DentalClinic.Properties.Settings>
  </userSettings>
</configuration>